.totalPrice{
    color: white;
    font-size: 20px;
}

.basketImg{
    color: white;
    height: 25px;
    cursor: pointer;
    user-select: none;
}

.navbar{
    user-select: none;
}

.signButton{
    display: flex;
    justify-content: space-between;
}

